main {
    border: 1px solid;
    width: 75%;
    margin: 15%;
    margin-top: 30px;
    height: 900px;
    background-image: url(img/PR1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 5px;
}
#caso {
    text-align: center;
    
}
#caso img {
    border-radius: 30px;
}
#solucion {
    padding-top: 40px;
    padding-left: 70px;
    border: 1px solid;
    width: 75%;
    height: 350px;
    margin-top: 0px;
    margin-left: 150px;
    background-color: beige;
    border-radius: 30px;
    font-size: 25px;
}
#siguiente {
    width: 20%;
    margin-left: 580px;
    height: 40px;
}
#siguiente a {
    text-decoration: none;
}
#siguiente h2 {
    text-align: center;
    border: 1px solid;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
}